.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;
    /* 标题使用衬线字体 */
    font-family: "Source Serif 4", "Noto Serif SC", Georgia, serif;
    line-height: 1.3;

    &:first-child,
    &:first-of-type {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2.5em;
  }

  h2 {
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 2em;
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 600;
    margin-top: 1.75em;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.5em;
  }
}
